doctype html
html

    head
        title Hello, React
        link(href="/static/app.css", rel="stylesheet")

    body

        #app


        script(src="/static/vendor-bundle.js")

        script(src="/static/app-bundle.js")

        script.
            ReactDOM.render(App(!{props}), document.getElementById('app'));
